.sticky-footer {
    margin-top: 2rem;
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 20px;
    color:
        #000000;
}

.sinV {
    list-style-type: none;
}

.sinV a {
    text-decoration: none !important;
    color: #f5ab0a !important;
}


.sinV a:hover {
    color: #f5740a !important;
}

.imgRss {
    width: 50%;
    min-height: 100px;
    margin: 1rem auto
}

.rrss {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

.rrss li {
    flex: 0 0 10%;
    margin-bottom: 10px;
}