.cardD {

    padding-top: 1rem;
    border-color: #f5ab0a59 !important;
}

.buttonD {
    background-color: #f5ab0a !important;
    width: 100% !important;
    border-color: #f5ab0a59 !important;
}

.margenes {
    margin: 2rem 0;
}

.centrarBoton {
    margin: 1rem 29%;
}

.catalog {
    background-color: rgb(233, 233, 233);
    padding-bottom: 2rem;
    margin-top: 3rem;
}

@media (max-width: 769px) {
    .cardD {
        margin: 0 auto;
    }

    .margenes h1 {
        margin: 1rem auto;
        text-align: center;
        font-size: 2.3rem;
    }

}