body {
    background-color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https: //res.cloudinary.com/dhghhzrkl/image/upload/v1701468773/ReactBike/montana02_kiedvn.jpg');

}